<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uiux.design.eshoppinguikit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".EShoppingListActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".ProductListActivity" />
        <activity android:name=".ProductGridActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".MyCartActivity" />
        <activity android:name=".AddAddressActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".MyOrderActivity" />
        <activity android:name=".SucessfullActivity"></activity>
    </application>

</manifest>